* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  color: #212121;
  background-color: #fafafa;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
