* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: black;
  -webkit-text-fill-color: black;
  background-color: #e7e7e7;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
